@model PaymentProductFormModel
@{
    ViewBag.Title = "Delivery Details";
}


<div class="formPayment">

    <h1>@ViewBag.Title</h1>
    <hr />

    <div class="deliveryDetails">

        <div class="staticInfo">
            <div class="row">
                <div>First Name:</div>
                <div>Last Name:</div>
                <div>Total Price:</div>
                
                @if (Model.PromoCode == PromoCodes)
                {
                    <div class="discountCode">Discount (@Model.PromoCode)</div>
                }
            </div>

            <div class="row">
                <div class="paymentFirstName">@Model.FirstName</div>
                <div class="paymentLastName">@Model.LastName</div>
                <div class="paymentTotalPrice">@($"{Model.TotalPrice:f2} BGN")</div>

                @if (Model.PromoCode == PromoCodes)
                {
                    <div class="discountPrice">@($"- {Model.Discount:f2} BGN")</div>
                }
            </div>
        </div>
        
        <form method="post">

            <div class="form-group">
                <label asp-for="CheckEmail"></label>
                <input asp-for="CheckEmail" class="form-control" placeholder="We need to Check your Email again">
                <span asp-validation-for="CheckEmail" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" placeholder="Your City...">
                <span asp-validation-for="City" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="Your Address...">
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Your Phone Number...">
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>

            <div class="promoCode">
                <button class="buttonApply" type="submit" name="submitButton" value="Apply">
                    Apply
                </button>

                <div class="form-group">
                    <label asp-for="PromoCode"></label>
                    <input asp-for="PromoCode" class="form-control" placeholder="Do you have a Code?">
                    <span asp-validation-for="PromoCode" class="small text-danger"></span>
                </div>
            </div>

            <button class="buttonBuy" type="submit" name="submitButton" value="Buy">
                Buy Now
            </button>
        </form>
    </div>
    
    <a href="/ShopCart/All">Back</a>
</div>