@model IEnumerable<AllProductViewModel>

@{
    ViewBag.Title = "All Products";
}



<h1 class="text-center">@ViewBag.Title</h1>
<hr />

<div class="containerProduct">
    @foreach (var product in Model)
    {
        <div class="listProduct">
            <div class="item">
                <img src="@product.Image">
                <h2>@product.Name</h2>
                <div class="price">Price: @($"{product.Price:f2}") BGN</div>
                <button>Add To Cart</button>
            </div>
        </div>


        @*<div class="col-md-4">
    <div class="card mb-3">
    <img class="card-img-top" style="height:450px" src="@product.Image" alt="Product Image">
    <div class="card-body text-center bg-black">
    <h4>@product.Name</h4>
    <h6>
    Price:
    <b>@($"{product.Price:f2}") BGN</b>
    </h6>
    <br />

    <form asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@product.Id" method="post">
    <input class="btn btn-primary" type="submit" value="AddToCart" />
    </form>
    </div>
    </div>
    </div>*@
    }
</div>