@model IEnumerable<AllProductViewModel>

@{
    ViewBag.Title = "All Products";
}

<h1 class="text-center">@ViewBag.Title</h1>
<p class="text-center">FREE shipping on orders over @minSumForFreeOrder BGN</p>
<hr />

<div class="containerProduct">

    @foreach (var product in Model)
    {
        <div class="listProduct">
            <div class="item">
                <img src="@product.Image">
                <h2>@product.Name</h2>
                <div class="price">Price: @($"{product.Price:f2}") BGN</div>

                <form asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@product.Id" method="post">
                    <button type="submit">
                        Add To Cart
                    </button>
                </form>
            </div>
        </div>
    }
</div>