@model CarFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">

            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" class="form-control" placeholder="Brand...">
                <span asp-validation-for="Brand" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" placeholder="Model...">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YearOfManufacture"></label>
                <input asp-for="YearOfManufacture" class="form-control" placeholder="Year Of Manufacture...">
                <span asp-validation-for="YearOfManufacture" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Horsepower"></label>
                <input asp-for="Horsepower" class="form-control" placeholder="Horsepower...">
                <span asp-validation-for="Horsepower" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EngineId"></label>
                <select asp-for="EngineId" class="form-control">
                    @foreach (var engine in Model.Engines)
                    {
                        <option value="@engine.Id">@engine.Name</option>
                    }
                </select>
                <span asp-validation-for="EngineId" class="small textdanger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GearboxId"></label>
                <select asp-for="GearboxId" class="form-control">
                    @foreach (var gearbox in Model.Gearboxes)
                    {
                        <option value="@gearbox.Id">@gearbox.Name</option>
                    }
                </select>
                <span asp-validation-for="GearboxId" class="small textdanger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small textdanger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="Address...">
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Red car..."></textarea>
                <span asp-validation-for="Description" class="small textdanger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                <span asp-validation-for="ImageUrl" class="small textdanger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PricePerDay"></label>
                <input asp-for="PricePerDay" class="form-control">
                <span asp-validation-for="PricePerDay" class="small textdanger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>