@model IEnumerable<ItemsForShopCartViewModel>

@{
    ViewBag.Title = "Your Shop Cart";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
    <p class="text-center">
        Your cart is empty.
        <br>
        Click <a href="/Product/All"
                 onmouseover="this.style.color='magenta';
                              this.style.textDecoration='none';"
                 onmouseout="this.style.color='orange';
                             this.style.textDecoration='underline';">here</a> for continue your shopping.
    </p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.Image" alt="Item Image" width="50" height="50" /></td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <a asp-controller="Cart" asp-action="DecreaseQuantity" asp-route-id="@item.Id" style="text-decoration: none"><i class="fa-regular fa-square-minus" style="color: magenta"></i></a>
                        @item.Quantity
                        <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Id" style="text-decoration: none"><i class="fa-regular fa-square-plus" style="color: magenta"></i></a>
                    </td>
                    <td>@(item.Price * item.Quantity)</td>
                    <td>
                        @*<form asp-controller="ShopCart" asp-action="RemoveFromCart" asp-route-id="@item.Id" method="post">
                                <input class="btn btn-primary" type="submit" value="RemoveFromCart" />
                            <i class="fa-solid fa-trash-can" style="color: red"></i>
                            
                        </form>

                        <form asp-controller="ShopCart" asp-action="RemoveFromCart" asp-route-id="@item.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="AddToCart" />
                        </form>*@

                        <form asp-controller="ShopCart" asp-action="RemoveFromCart" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn-icon" style="border: none; background-color: transparent;">
                                <i class="fa-solid fa-trash-can" style="color: red"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right;"><strong>Total:</strong></td>
                <td>
                    @Model.Sum(item => item.Price * item.Quantity)
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
}