@model IEnumerable<ItemsForShopCartViewModel>

@{
    ViewBag.Title = "Your Shop Cart";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
    <p class="text-center">
        Your cart is empty.
        <br>
        Click <a href="/Product/All"
                 onmouseover="this.style.color='magenta';
                              this.style.textDecoration='none';"
                 onmouseout="this.style.color='orange';
                             this.style.textDecoration='underline';">here</a> for continue your shopping.
    </p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th @*colspan="2"*@>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (ItemsForShopCartViewModel item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@($"{item.Price} BGN")</td>
                    <td>
                        <button @*@onclick="()=> DecreaseQuantity(item)"*@>-</button>
                        @item.Quantity
                        <button @*@onclick="()=> IncreaseQuantity(item)"*@>+</button>
                    </td>
                    <td>@($"{item.Price * item.Quantity} BGN")</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">Total:</td>
                <td>@Model.Sum(item => item.Price * item.Quantity) BGN</td>
            </tr>
        </tfoot>
    </table>
}

@*@code {
    private void DecreaseQuantity(CartItem item)
    {
        if (item.Quantity > 1)
        {
            item.Quantity--;
        }
    }

    private void IncreaseQuantity(CartItem item)
    {
        item.Quantity++;
    }
}*@